.commentcard{   
    width: 40vw;
    box-shadow: 0 0 15px rgba(0,0,0, 0.25);
    border-radius: .5rem;
    margin-bottom: 12px;
}
.commentcard:after{   
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background-color:#fd3838;
}
.commentcard-solved{   
    width: 40vw;
    box-shadow: 0 0 15px rgba(0,0,0, 0.25);
    border-radius: .5rem;
    margin-bottom: 12px;
    
}
.commentcard-solved::after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    background-color:rgba(0, 128, 0, 0.5);
}
.commentcard-report{
    padding:1rem 1rem;
}
.commentcardbtn{
        padding:1.5rem 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
}
.commentcard-username{
    padding:1rem 1rem;
}
.commentcard-username h4 , .commentcard-report h4{
    padding-bottom:5px;
}
.commentcard-username p,.commentcard-report p{
    width: inherit;
}

.commentcard-resolvedbtn{
    padding: .5rem;
    border:none; 
    background-color: #5bc6de;
    border-radius: 5px;
    color:white;
}
.commentcard-resolvedbtn-solved{
    display:none;
}
.commentcard-resolvedbtn:hover{
    padding: .5rem;
    border:1px solid #5bc6de ; 
    color: #5bc6de;
    background-color: white;
    border-radius: 5px;
}
.commentcard-deletebtn{
    padding: .5rem;
    border:none; 
    background-color: #fd3838;
    border-radius: 5px;
    color:white;
    
}
.commentcard-deletebtn:hover{
    padding: .5rem;
    border:1px solid #fd3838; 
    color: #fd3838;
    background-color: white;
    border-radius: 5px;
}