.card {
  background-color: white;
  width: 25vw;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.253);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.card-image {
  margin: 0 auto;
}
.card-image img {
  height: 10rem;
  width: auto;
  margin: 0;
}
.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-title h2 {
  text-align: center;
  margin-bottom: 0px;
}
.card-details {
  padding: 0rem 3rem;
}
.card-UserName,
.card-password {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.card-details label{
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.card-details input{
  background-color: rgba(211, 211, 211, 0.164);
  border: 1px solid black;
  border-radius: 7px;
  font-size: 1.2rem;
  height: 20px;
  padding: 16px 10px;
}
.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.card-button button {
  padding: 0.6rem;
  font-size: 1.2rem;
  background-color: #5bc5de;
  color: white;
  border-style: none;
  border-radius: 5px;
}
.card-button button:hover {
  background-color: #fff;
  color: #5bc5de;
  border: 1px solid #5bc5de;
  border-radius: 5px;
}
.card-extras {
  margin-top: 20px;
  text-align: center;
}
.card-extras button{
  border-style: none;
  background-color: white;
}
.card-extras button:hover{
  cursor: pointer;
}
.card-forgotbtn{
  color:rgba(0, 0, 0, 0.50);
}