@keyframes moveright{
    0%{
        width: 0%;
    }
    50%{
        width: 50%;
    }
    75%{
        width: 75%;
    } 
    
    
    100%{
        width: 100%;
    }
}

.card-container{
    margin:1.2rem auto;
    width: 45vw;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.146);
    border-radius: .5rem;
}

.card-container:hover{
   box-shadow: 0 0 5px #5bc6deb0;
   transform: scale(1.03);
}
.card-container:hover::after{   
    display: block;
    content: '';
    height: .3rem;
    background-color: #5bc6de;
    animation: moveright .2s;
    
}
.project-card{
    padding:1.5rem;
}
.project-title{
    padding:.5rem;
    font-size: 1.3rem;
}
.project-desc{
    padding: .5rem;
    font-size: 1.1rem;
}
.project-card-btns{
    padding:.5rem;
}
.project-card-btns .project-card-deletebtn{
    background-color: white;
    border-radius: 4px;
    padding: .3rem;
    border:1px solid rgb(230,0,0);
    color:rgb(230,0,0);

}
.project-card-btns button{
    font-size: 1rem;
    padding: .4rem; 
    color: white;
    margin-right: 1rem;
    background-color:#5bc6de ;
    border: none;
    border-radius: 4px;
}
.project-card-btns .project-card-deletebtn:hover{
    transform: scale(1.02);
    color: white ;
    border: none;
    background-color: rgb(230,0,0);
}
.project-card-btns button:hover{
    transform: scale(1.02);
    color:#5bc6de;
    border:1px solid #5bc6de;
    border-radius: 4px;
    background-color: white;
}