.card-container{
    margin:1.2rem auto;
    width: 45vw;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.146);
    border-radius: .5rem;
    transition: .2s smooth;
}

.card-container:hover{
   box-shadow: 0 0 5px #5bc6deb0;
   transform: scale(1.03);
}
.project-card{
    padding:1.5rem;
}
.project-title{
    padding:.5rem;
    font-size: 1.3rem;
}
.project-desc{
    padding: .5rem;
    font-size: 1.1rem;
}
.project-card-btns{
    padding:.5rem;
}
.project-card-btns .project-card-deletebtn{
    background-color: white;
    border-radius: 4px;
    padding: .3rem;
    border:1px solid rgb(230,0,0);
    color:rgb(230,0,0);

}
.project-card-btns button{
    font-size: 1rem;
    padding: .4rem; 
    color: white;
    margin-right: 1rem;
    background-color:#5bc6de ;
    border: none;
    border-radius: 4px;
}

.project-card-btns button:hover{
    transform: scale(1.02);

}